@charset "utf-8";

/* reset */
img {width: 100%; vertical-align: middle;}

.bx-wrapper {position: relative;}
.bx_slider {width: 100%;}
/* .bx-controls {position: absolute;} */
.bx-controls-direction a {position: absolute; top: 50%; transform: translateY(-50%);}
.bx-prev {left: 0;}
.bx-next {right: 0;}
.bx-pager {position: absolute; bottom: 0; left: 50%;}
.bx-pager-item {display: inline-block;}
.bx-pager-item a {
    display: inline-block;
    font-size: 0; color: transparent;
    background-color: #222;
    border-radius: 50%;
    width: 8px; height: 8px;
    margin-left: 10px;
}
.bx-pager-item .active {background: #FF204B;}